DB_HOST=ep-proud-block-aiwvfkgh-pooler.c-4.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_rnzJ0BRC6YyI
JWT_SECRET=beca-assessment-secret-2024
NODE_ENV=development
API_PORT = 3000